img{
    max-width:579px;
}

div#img{
   text-align: center;
   background-color: rgb(169, 132, 203);
   border-radius: 30px;
   margin-left: 40px;
   margin-right: 40px;
}

header{
    background-color: rgb(169, 132, 203);
    color: aliceblue;
    text-align: center;
}

footer{
    color: aliceblue;
    text-align: center;
    background-color: rgb(169, 132, 203);
    border-top: 40px;
    width:100%;
}

